.about-us-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    text-align: center;
    padding-top: 5%;
  }

  .box {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-style: dashed;
  }  
}