.footer-container {
  bottom: 0;
  background-color: #333333;
  width: calc(100% - 4rem);
  color: white;
  padding: 2rem;

  .upper-footer-container {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #F64E5A;
    padding-bottom: 1rem;

    .main-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 100%;

      .header {
        color: #F64E5A;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .link-column-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      text-align: left;
      font-size: 1.25rem;

      .link-column {
        padding-right: 10rem;
        display: flex;
        flex-direction: column;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: #F64E5A;
          }
        }

        .header {
          color: #F64E5A;
        }
      }
    }
  }

  .lower-footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;

    .sub-text {
      padding-left: 1rem;
      font-size: 1.5rem;
    }
  }
}