.navbar-container {
  display: flex;
  position: absolute;
  padding: 1rem 2rem;
  height: 5rem;
  width: calc(100% - 4rem);
  justify-content: center;
  background-color: #F64E5A;
  z-index: 10;

  &.dark {
    background-color: #333333;
  }

  &.light {
    background-color: #F9F9F9;
  }

  .navbar-logo {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
  }

  .burger-menu {
    cursor: pointer;
    display: flex;
    margin-left: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 4rem;
    height: 4rem;

    .burger-bar {
      border-radius: 1rem;
      padding: 0 0.25rem;
      width: 100%;
      height: 0.6rem;
      background-color: black;
      transition: background-color 0.3s, transform 0.3s, width 0.3s, opacity linear;
    }

    &:hover {
      .burger-bar {
        background-color: #F64E5A;
      }
    }

    &.cross {
      .burger-bar {
        &.top {
          transform: translateY(1.1rem) rotate(45deg);
          transform-origin: center center;
        }

        &.middle {
          width: 0%;
        }

        &.bottom {
          transform: translateY(-1.1rem) rotate(-45deg);
          transform-origin: center center;
        }
      }
    }
  }

  .middle-link-container {
    display: flex;
    flex-direction: row;

    .link {
      cursor: pointer;
      font-size: 1.25rem;
      font-family: Raleway;
      font-weight: bold;
      margin: 1rem;
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
      transition: all 0.3s;
      color: white;

      a {
        text-decoration: none;
        color: white;
        transition: all 0.3s;

        &:hover {
          background-color: #F64E5A;
          color: black;
        }
      }

      &.dark {
        a {
          text-decoration: none;
          color: white;

          &:hover {
            background-color: #333333;
            color: black;
          }
        }
      }

      &.light {
        a {
          text-decoration: none;
          color: #333333;

          &:hover {
            background-color: #f9f9f9;
            color: #F64E5A;
          }
        }
      }

      @media screen and (min-width: $tablet-land){
        font-size: 1.5rem;
      }
    }
  }

  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .link {
      cursor: pointer;
      font-size: 1.25rem;
      font-family: Raleway;
      font-weight: bold;
      margin: 1rem;
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
      transition: all 0.3s;

      &:hover {
        background-color: #F64E5A;
        color: white;
      }

      @media screen and (min-width: $tablet-land){
        font-size: 1.5rem;
      }

      &#login {
        color: #333333;
        background-color: #F9F9F9;

        &:hover {
          background-color: #333333;
          color: #F64E5A;
        }
      }

      &#signin {
        color: #F9F9F9;
        background-color: #333333;

        &:hover {
          background-color: #F9F9F9;
          color: #F64E5A;
        }
      }
    }
  }
}