.landing-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font-family: Source Sans Pro;
  background-color: #F64E5A;
  overflow-y: visible;
  overflow-x: hidden;

  .scroll-top {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    background-color: white;
    color: #F64E5A;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 5rem;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    right: 2rem;
    transition: all 0.3s;
    -webkit-box-shadow: 0 5px 5px -2px black;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 5px 5px -2px black;  /* Firefox 3.5 - 3.6 */
    box-shadow: 0 5px 5px -2px black;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    &.active {
      opacity: 1;
      pointer-events: unset;
      cursor: pointer;
    }
  }

  .landing-navbar-container {
    display: flex;
    position: absolute;
    padding: 1rem 2rem;
    height: 5rem;
    width: calc(100% - 4rem);
    justify-content: center;
    background-color: #F64E5A;
    z-index: 10;

    .navbar-logo {
      position: absolute;
      top: 2rem;
      left: 2.5rem;
    }

    .burger-menu {
      cursor: pointer;
      display: flex;
      margin-left: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 4rem;
      height: 4rem;

      .burger-bar {
        border-radius: 1rem;
        padding: 0 0.25rem;
        width: 100%;
        height: 0.6rem;
        background-color: black;
        transition: background-color 0.3s, transform 0.3s, width 0.3s, opacity linear;
      }

      &:hover {
        .burger-bar {
          background-color: #F64E5A;
        }
      }

      &.cross {
        .burger-bar {
          &.top {
            transform: translateY(1.1rem) rotate(45deg);
            transform-origin: center center;
          }

          &.middle {
            width: 0%;
          }

          &.bottom {
            transform: translateY(-1.1rem) rotate(-45deg);
            transform-origin: center center;
          }
        }
      }
    }

    .middle-link-container {
      display: flex;
      flex-direction: row;

      .link {
        cursor: pointer;
        font-size: 1.25rem;
        font-family: Raleway;
        font-weight: bold;
        margin: 1rem;
        padding: 0.5rem 0.75rem;
        border-radius: 1rem;
        transition: all 0.3s;
        color: white;
  
        &:hover {
          background-color: #F64E5A;
          color: black;
        }
  
        @media screen and (min-width: $tablet-land){
          font-size: 1.5rem;
        }
      }
    }

    .link-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .link {
        cursor: pointer;
        font-size: 1.25rem;
        font-family: Raleway;
        font-weight: bold;
        margin: 1rem;
        padding: 0.5rem 0.75rem;
        border-radius: 1rem;
        transition: all 0.3s;

        &:hover {
          background-color: #F64E5A;
          color: white;
        }

        @media screen and (min-width: $tablet-land){
          font-size: 1.5rem;
        }

        &#login {
          color: #333333;
          background-color: #F9F9F9;

          &:hover {
            background-color: #333333;
            color: #F64E5A;
          }
        }

        &#signin {
          color: #F9F9F9;
          background-color: #333333;

          &:hover {
            background-color: #F9F9F9;
            color: #F64E5A;
          }
        }
      }
    }
  }

  .menu-container {
    position: absolute;
    z-index: 5;
    display: flex;
    padding-top: 7rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 0;
    background-color: white;
    transition: max-height 0.5s;
    justify-content: center;

    .link {
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      font-size: 1.25rem;
      font-family: Raleway;
      font-weight: bold;
      color: black;
      padding: 1rem;
    }

    &.expanded {
      max-height: calc(100vh - 7rem);
      
      .link {
        pointer-events: unset;
        cursor: pointer;
        opacity: 1;

        margin: 1rem 0;
        border-radius: 1rem;
      }
    }
  }

  .frame-container {
    top: 7rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    overflow: hidden;

    &.frame-3 {
      top: calc(280vh);

      .social-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #F9F9F9;
        justify-content: center;

        .header-container {
          padding-top: 2rem;
          display: flex;
          flex-direction: column;

          @media screen and (min-width: $phone){
            padding-top: 5rem;
          }

          .title {
            color: #333333;
            font-weight: bold;
            font-family: Raleway;
            font-size: 2rem;

            @media screen and (min-width: $phone){
              font-size: 3rem;
            }
          }

          .subtitle {
            color: #333333;
            font-size: 1rem;

            @media screen and (min-width: $phone){
              font-size: 1.5rem;
            }
          }
        }

        .order-circle-container {
          display: flex;
          justify-content: center;
          width: 100%;

          .order-circle {
            background-color: darkgrey;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            margin: 0.5rem;

            @media screen and (max-width: $phone){
              width: 1rem;
              height: 1rem;
              margin-bottom: 1rem;
              transition: background-color 0.3s;
            }

            &.active {
              background-color: grey;
            }
          }
        }

        .carousel-container {
          width: 100%;
          height: 38rem;
          padding-top: 1rem;
          display: flex;
          justify-content: space-evenly;

          @media screen and (min-width: $phone){
            padding-top: 2rem;
          }

          .card {
            width: 20rem;
            height: 60vh;
            background-color: #F9F9F9;
            margin: 1rem;

            @media screen and (max-width: $phone) {
              height: 65vh;
            }

            @media screen and (min-width: $tablet){
              height: 30rem;
            }

            .image-container {
              width: 100%;
              height: 80vw;

              @media screen and (min-width: $phone){
                width: 20rem;
                height: 20rem;
              }

              img {
                height: 100%;
              }
            }

            .description-container {
              display: flex;
              flex-direction: column;
              text-align: center;
              padding: 1rem;
              font-size: 1rem;
              color: #333333;

              .header {
                transition: all 0.3s;
                font-size: 2rem;
                font-family: Raleway;
                font-weight: bold;
                padding-bottom: 0.5rem;
              }
            }

            .button {
              cursor: pointer;
              border: solid 2px #F64E5A;
              width: 100%;
              border-radius: 2rem;
              font-size: 1.5rem;
              font-weight: bold;
              padding: 1.5rem 0;
              color: #F64E5A;
            }
          }
        }
      }
    }

    &.frame-2 {
      top: calc(100vh);
      height: 180vh;

      .introduction-container {
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .introduction-header {
          padding-bottom: 5rem;
        }

        .introduction-box-container {
          justify-content: center;
          display: flex;
          flex-direction: row;
          padding: 0 15%;

          .introduction-column {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .introduction-box {
              display: flex;
              flex-direction: column;
              width: 55%;
  
              span {
                font-size: 1.5rem;
              }
  
              .header {
                font-weight: bold;
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }


    &.frame-1 {
      background-color: #F64E5A;
      flex-direction: column;

      .get-started-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5rem;
        padding-top: 2rem;
        width: 60%;
        color: white;
        text-align: left;
        font-size: 1.5rem;
        padding-bottom: 5rem;
        text-align: center;
        align-self: center;
  
        // @media screen and (min-width: $tablet-land){
        //   justify-content: flex-start;
        //   padding-left: 5%;
        //   padding-top: unset;
        //   font-size: 2rem;
        // }
  
        // @media screen and (min-width: $tablet-med){
        //   font-size: 2rem;
        // }
  
        // @media screen and (max-width: $phone){
        //   padding-left: 2rem;
        //   font-size: 1rem;
        // }
  
        .header {
          font-family: Raleway;
          font-size: 4rem;
          font-weight: bold;
  
          @media screen and (min-width: $tablet-land){
            font-size: 6rem;
          }
  
          @media screen and (min-width: $tablet-med){
            font-size: 6rem;
          }
  
          @media screen and (max-width: $phone){
            font-size: 3rem;
          }
        }

        .sub-header {
          padding: 2rem 0;
        }
  
        .button {
          cursor: pointer;
          width: 100%;
          margin-top: 1rem;
          color: #F64E5A;
          padding: 2rem 0;
          text-align: center;
          background-color: white;
          border-radius: 1rem;
          font-family: Raleway;
          font-size: 2rem;
          font-weight: bold;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: #ff9097;
            color: white;
          }

          &.input {
            cursor: text;
            transition: none;

            &:hover {
              background-color: white;
              color: #F64E5A;
            }
          }
  
          @media screen and (max-width: $desktop){
            font-size: 1.25rem;
            padding: 1rem 0;
          }
        }
      }

      .image-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
  
        &:before {
          content: "";
          pointer-events: none;
          border-radius: 50%;
          height: 80rem;
          width: 80rem;
          top: 35%;
          display: flex;
          position: absolute;
          justify-content: center;
          background-color: white;
        }
  
        .get-started-img {
          position: absolute;
          height: 60%;
          pointer-events: none;
        }
      }
    }
  }

  .footer-container {
    position: absolute;
    top: 380vh;
    background-color: #333333;
    width: 100%;
    color: white;

    .upper-footer-container {
      display: flex;
      flex-direction: row;
      margin: 2rem;
      border-bottom: solid 1px #F64E5A;
      padding-bottom: 1rem;

      .main-column {
        text-align: left;
        width: 100%;

        .header {
          color: #F64E5A;
          font-size: 2rem;
          font-weight: bold;
        }
      }

      .link-column-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: left;
        font-size: 1.25rem;

        .link-column {
          padding-right: 10rem;
          display: flex;
          flex-direction: column;

          .header {
            color: #F64E5A;
          }
        }
      }
    }

    .lower-footer-container {
      display: flex;
      flex-direction: row;
      margin: 2rem;
      align-items: center;

      .sub-text {
        padding-left: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}