
#wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#aboutUsTitle{
    text-align: center;
    padding-top: 5%;
}
#aboutUsBox {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border-style: dashed;
}
