#wrapper {
    border-radius: 25px;
    border-style: solid;
    border-color: lightgray;
    width: 600px;
    height: 550px;

    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
}
#title {
    /*
    line-height: normal;
    background: -webkit-linear-gradient(90deg, rgba(91,35,13,0.9) 3%, rgba(251,1,0,0.8) 42%, rgba(255,208,0,0.8) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    color: red;
    font-family: 'acumin-pro';
    font-weight: normal;
    font-size: 25px;
}
#instructions {
    
    position: relative;
    top: 100px;
    left: 100px;
    /*
    line-height: normal;
    background: -webkit-linear-gradient(90deg, rgba(91,35,13,0.9) 3%, rgba(251,1,0,0.8) 42%, rgba(255,208,0,0.8) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    font-family: 'acumin-pro';
    font-weight: normal;
    font-size: 15px;
}

#email{
    position: relative;
    top: 150px;
    left: 100px;
}

#resetPass{
    position: relative;
    top: 150px;
    left: 100px;
}

#emailMessage{
    position: relative;
    top: 200px;
}

/*======== CSS for portrait style on mobile ============= */
@media screen and (orientation:portrait) and (min-height: 320px) and (max-height: 812px) {
    
    #wrapper {
        border-radius: 25px;
        border-style: solid;
        border-color: lightgray;
        width: 600px;
        height: 500px;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(65%, 65%);
    }
}
