
#wrapper {
    border-radius: 25px;
    border-style: solid;
    border-color: lightgray;
    width: 600px;
    height: 550px;

    text-align: left;
    padding-top: 20px;
    padding-left: 50px;
}

#title {
    color: red;
    font-family: 'acumin-pro';
    font-weight: normal;
    font-size: 25px;
}

#signInTitle{
    font-family: 'acumin-pro';
    font-size: 20px;
    font-weight: bold;
}

#login {
    background: #eb5834;
    border-radius: 40;
    border: 0;
    color: white;
    height: 48px;
    width:  210px;
    padding: 0 10px 0 0;
    right: 15px;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}

/*Google and facebook button*/

#firebaseui-auth-container{
    position: relative;
    right: 19%;
}

.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-facebook.firebaseui-id-idp-button{
    border-radius: 25px !important;
    margin: 0 0 0 40px;
}

.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-google.firebaseui-id-idp-button
{
    border-radius: 25px !important;
}
.firebaseui-idp-list{
    width: 500px !important;
}
.firebaseui-list-item
{
    display: inline-block !important;
}

/* Set up divider */

.divider {
    position: relative;
	width:400px;
    text-align:center;
    left: 37px;
    color: gray;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
    width:40%;


}

.left {
	float:left;
}

.right {
	float:right;
}

/* Username and password area */
#infoField{
    position: relative;
    left: 50px;
}


#username{
    position: relative;
    left: 100px;
}

#password{
    position: relative;
    left: 100px;
}
#passwordIcon{
    position: relative;
    left: 200px;
}

#login{
    position: relative;
    left: 100px;
}

#forgotPass{
    text-decoration:none;
    color: blue;
    position: relative;
    left: 185px;
}

#notMember{
    position: relative;
    left: 150px;
}

#signup{
    text-decoration:none;
    color: blue;
    position: relative;
    left: 155px;
}

/*========================== Mobile =========================*/
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

/*======== CSS for portrait style on mobile ============= */
@media screen and (orientation:portrait) and (min-height: 320px) and (max-height: 812px) {
    
    #wrapper {
        border-radius: 25px;
        border-style: solid;
        border-color: lightgray;
        width: 600px;
        height: 500px;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(65%, 65%);
    }
}

