
#mainLogo {
    text-decoration: none;
    color: black;
}

#wholeNav {
    padding-bottom: 2%;
    flex-wrap: wrap; 
    display: flex;
}
#loginButton {
    background-color: white;
    font-family: Karla, sans-serif;
    font-size: 20px;
    width: 90px;
    height: 60px;
}
#insideLoginButton{
    background-color: #c10000;
    font-family: Karla, sans-serif;
    font-size: 20px;
    width: 90px;
    height: 60px;
}
/*
THis is for the register,title, and login button to be shifted at the same length
*/
#allClickable {
    text-align: left;
}
#section {
    width: 25%;
}
#sectionTitle {
    font-weight: bold;
    font: Karla, sans-serif;
    font-size: 30px;
    text-align: center;
}
#sectionContent {
    list-style: none;
    text-align: center;
}
#listContent {
    font-family: Karla, sans-serif;
    text-decoration: none;
    font-size: 25px; 
    color: black;
}
/* ================Mobile============= */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}
@media screen and (orientation:portrait) and (min-height: 320px) and (max-height: 812px) {
    
    #wrapper-navbar {
        border-radius: 25px;
        border-color: lightgray;
        width: 600px;
        height: 500px;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(65%, 65%);
    }
}