#wrapper {
    border-radius: 25px;
    border-style: solid;
    border-color: lightgray;
    width: 600px;
    height: 550px;

    text-align: left;
    padding-top: 20px;
    padding-left: 50px;


}

#title {
    color: red;
    font-family: 'acumin-pro';
    font-weight: normal;
    font-size: 25px;
}

#signInTitle{
    font-family: 'acumin-pro';
    font-size: 20px;
    font-weight: bold;
}


/*Google and facebook button*/

#firebaseui-auth-container{
    position: relative;
    right: 150px;
}

.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-facebook.firebaseui-id-idp-button{
    border-radius: 25px !important;
    margin: 0 0 0 40px;
}

.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-google.firebaseui-id-idp-button
{
    border-radius: 25px !important;
}
.firebaseui-idp-list{
    width: 500px !important;
}
.firebaseui-list-item
{
    display: inline-block !important;
}

/* Set up divider */

.divider {
	width:400px;
    text-align:center;
    color: gray;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
    width:45%;


}

.left {
	float:left;
}

.right {
	float:right;
}


#nameWrapper{
    margin-left: auto;
    margin-right: auto;
}

#next{
    position: relative;
    left:40%;
}




/*======== CSS for portrait style on mobile ============= */

@media screen and (orientation:portrait) and (max-width: 414px){
    
    #wrapper {
        border-radius: 25px;
        border-style: solid;
        border-color: lightgray;
        width: 600px;
        height: 550px;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(65%, 65%);
    }

    #firebaseui-auth-container{
        position: relative;
        left: 4%;
    }
}
