@import 'breakpoints.scss';

@import 'components/HomePage.scss';
@import 'components/About.scss';
@import 'components/ContactUs.scss';
@import 'components/RegisterAcc.scss';
@import 'components/Dashboard.scss';
@import 'components/HomePageAlt.scss';
@import 'components/LandingPage.scss';
@import 'components/Header.scss';
@import 'components/Footer.scss';
@import 'components/Download.scss';
@import 'components/WhyTwiine.scss';