.home-page-container {
  .register-button {
    top: 55vh;
    color: white;
    border: 2px black;
    border-radius: 12.5rem;
    background-color: #c10000;
    height: 6.25rem;
    width: 12.5rem;
    text-transform: none;

    .register-text {
      font-size: 30px;
      font-family: barlow, sans-serif;
    }
  }
}