
.wrapper-loginpage{
  position: fixed;

  top: 17rem;
  right: 12rem;



  .infinity{
    position:fixed;
    left:0px;
    top: 7rem;
    /*
    right:100%;
    top: 5rem;
    width:50%;
    */
    transform: scaleX(-1);
    

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: -1;
  }

  .logo-large{
    position: absolute;
    width: 11.6875rem;
    height: 6.4375rem;
    right: 170%;
    top: -40%;
  }

  .business-login{
    position: absolute;
    width: 194px;
    height: 27px;
    right: 163%;
    top: -26%;;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;

    color: #000000;
  }

  .wrapper-signin {
    border-radius: 1.5rem;
    border-style: solid;
    border-color: lightgray;
    width: 37.5rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 1.5rem 3.5rem;
    background: #FFFFFF;

    .title{
      width: 100px;
      position: relative;
      right:230px;
    }

    .sign-in-title {
      font-family: Quicksand;
      font-style: bold;
      font-weight: 500;
      font-size: 20px;
      padding-bottom: 1.5rem;
      color: black;
    }

    .login-container {
      display: flex;
      flex-direction: column;
      justify-content: left;

      a {
        text-decoration: none;
      }

      .info-field-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        

        .username-field {
          display: flex;
          padding-bottom: 0.5rem;
          width: 100%;
        }
        #username-textfield{
          height: 25px;
        }

        .password-field {
          width: 100%;

          .hide-password {
            position: absolute;
          }
        }

        #showPass{
          height: 25px;
        }

        .forgot-password {
          padding-top: 4px;
          padding-bottom: 1rem;

            span {
              font-family: 'acumin-pro';
              font-weight: normal;
            }
        }

        .login-button {
          background: #eb5834;
          border: 0;
          color: white;
          height: 100%;
          width:  20%;
          box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
          align-self: center;
        }
      }
    }

    .divider {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      .underline {
        background-color: grey;
        height: 1px;
        width: 45%;
        margin: 0.625rem;
      }
    }

    #firebaseui-auth-container{
      .firebaseui-container {
        max-width: unset;
        padding-bottom: 0;
      }

      .firebaseui-card-content {
        padding: 0;
        width: 100%;

        .firebaseui-list-item {
          display: flex;
          padding: 0 1.25rem;

          .firebaseui-id-idp-button {
            display: flex;
            align-items: center;
            border-radius: 1.5rem;
            justify-content: center;
            max-width: unset;
            width: 15rem;
          }
        }
      }
      .firebaseui-list-item
      {
        display: inline-block !important;
      }
    }

    /*========================== Mobile =========================*/

    /*======== CSS for portrait style on mobile ============= */
    @media screen and (orientation:portrait) and (min-height: 320px) and (max-height: 812px) {
      
      #wrapper {
          border-radius: 25px;
          border-style: solid;
          border-color: lightgray;
          width: 600px;
          height: 500px;
      
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(65%, 65%);
      }
    }
  }
}
