.navbar-container {
  font-family: quicksand;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0,0,0,0));

  .header-row {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 0;

    img {
      cursor: pointer;
      height: 7.5rem;
    }

    .button-wrapper {
      display: flex;
      flex-direction: row;
      color: white;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
      }
      
      .login-button {
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: lighter;
        background-color: orangered;
        padding: 0.75rem 3rem;
        height: fit-content;
        border-radius: 2rem;
        transition: all 0.3s ease;

        &:hover {
          background-color: white;
          color: orangered;
        }
      }

      .burger-menu {
        cursor: pointer;
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 4rem;
        height: 4rem;

        .burger-bar {
          border-radius: 1rem;
          padding: 0 0.25rem;
          width: 100%;
          height: 0.6rem;
          background-color: white;
          transition: background-color 0.3s, transform 0.3s, width 0.3s, opacity linear;
        }

        &:hover {
          .burger-bar {
            background-color: orangered;
          }
        }

        &.cross {
          .burger-bar {
            &.top {
              transform: translateY(1.1rem) rotate(45deg);
              transform-origin: center center;
            }

            &.middle {
              width: 0%;
            }

            &.bottom {
              transform: translateY(-1.1rem) rotate(-45deg);
              transform-origin: center center;
            }
          }
        }
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-top: -2.5rem;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;

    &.expanded {
      opacity: 1;
      margin-top: 0;
      pointer-events: all;
    }

    .menu-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .menu-column {
        color: white;
  
        .title {
          font-size: 2rem;
          font-weight: bold;
        }
  
        .underline {
          margin-top: 0.5rem;
          display: flex;
          height: 1px;
          width: 100%;
          background-color: white;
        }
  
        ul {
          padding-right: 1rem;
          li {
            cursor: pointer;
            font-size: 1.25rem;
            transition: color 0.3s;
  
            &:hover {
              color: orangered;
            }
          }
        }
      }
    }

    .copyright {
      margin-top: 5rem;
      margin-left: 5rem;
      display: flex;
      justify-content: start;
      width: max-content;
      color: white;
    }
  }
}