body{
    background-color: white;
}
.Newsletter_wrapper{
    background-color: white;



    .mc_embed_signup{
        background:#fff; 
        clear:left; 
        font-family: Quicksand;
        font-style: bold;
        font-weight: 500;
        font-size: 20px;
        width:100%;
    }
}