@import 'components/HomePage.scss';
@import 'components/AboutUs.scss';
@import 'components/ContactUs.scss';
@import 'components/RegisterAcc.scss';
@import 'components/Navbar.scss';
@import 'components/Dashboard.scss';